<html>
    <head>
        <title> Sinatra Helper method </title>
    </head>
    <body>
        <nav>
            <ul>
                <li> <a href="<%= link(:index) %>"> Index </a></li>>
                <li> <a href="<%= link(:about) %>"> Index </a></li>>
                <li> <a href="<%= link(:random) %>"> Index </a></li>>
            </ul>
        </nav>
    </body>
</html>
